
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>To Do</title>
</head>
<body>
    <h1>Please provide what work needs to be done and description of work </h1>
    @using (Html.BeginForm("SaveToDatabase", "Home", FormMethod.Post))
    {
        <label for="name"> To do work: </label>
        <input type="text" name="title" id="name" /><br />

        <label for="description"> Describe a task: </label>
        <input type="text" name="description" id="description" /><br />

        <input type="submit" value="Submit" />
    }

</body>
</html>
